<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="over" class="sidebar-container">
        <!-- Sidebar content goes here -->
        <h5 class="m-3">Sidebar</h5>
        <p class="p-3">{{ user?.email }}</p>
        <mat-divider></mat-divider>
        <mat-list>
            <mat-list-item *ngFor="let item of sidebarItems" [routerLink]="item.url" (click)="sidenav.toggle()">
                <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
                {{ item.label }}
            </mat-list-item>
        </mat-list>
        <button (click)="onLougout()" class="w-full" mat-flat-button>Logout</button>
    </mat-sidenav>
    <mat-sidenav-content>
        <!-- Main content goes here -->

        <mat-toolbar class="bg-primary">
            <span class="text-white">Héroes</span>
            <span class="spacer"></span>
            <!-- <mat-icon [ngStyle]="{'color':'white'}">menu</mat-icon> -->
             <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon [ngStyle]="{'color':'white'}">menu</mat-icon>:
             </button>
        </mat-toolbar>
        <div class="container">
            <router-outlet></router-outlet>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>






