<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="side" class="sidebar-container">
        <!-- Sidebar content goes here -->
        <h5 [ngStyle]="{'margin-top':'.5em','padding':'0 .5em'}">Sidebar</h5>
        <hr>
        <mat-list>
            <mat-list-item *ngFor="let item of sidebarItems" [routerLink]="item.url" (click)="sidenav.toggle()">
                <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
                {{ item.label }}
            </mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <!-- Main content goes here -->

        <mat-toolbar class="toolbar">
            <span [ngStyle]="{'color':'white'}">My Application</span>
            <span class="toolbar-spacer"></span>
            <!-- <mat-icon [ngStyle]="{'color':'white'}">menu</mat-icon> -->
             <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon [ngStyle]="{'color':'white'}">menu</mat-icon>
             </button>
        </mat-toolbar>
        <div class="container">
            <router-outlet></router-outlet>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>






